table {
    width: 100%;
}

.mat-form-field {
  margin-right: 20px;
}

.add-hero{
   margin-top: 10px;
   margin-left: 10px;
}

.pointer{
    cursor: pointer;
}

.filterInput .mat-form-field-wrapper .mat-form-field-infix{
border: 1px solid #424242 ;
}